/* ==========================================================================
   Blog Single Standard style - begin
   ========================================================================== */

.qodef-blog-holder.qodef-blog-single {

    &.qodef-blog-single-standard {
    
        article {
        
            .qodef-post-heading {
                margin-bottom: 20px;
            }
        
            .qodef-post-title {
                margin: 0 0 9px;
            }
        
            .qodef-post-text {
                padding: 0 0 31px;
                border-bottom: 1px solid $default-border-color;
            }
        
            .qodef-post-info-top {
                margin-bottom: 7px;
                .qodef-post-info-date,
                .qodef-post-info-category {
                    font-family: Montserrat, sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 13px;
                }

                .qodef-post-info-date {
                    color: #000000;
                }

                .qodef-post-info-category{
                    color: $first-main-color;
                }
            
                > div {
                    position: relative;
                    display: inline-block;
                    padding-right: 8px;
                    margin-right: 3px;
                    color: $default-text-color;
                
                    a {
                        color: inherit;
                    
                        &:hover {
                            color: $default-heading-color;
                        }
                    }
                
                    &:after {
                        content: "/";
                        position: absolute;
                        top: 0;
                        right: -2px;
                    }
                
                    &:last-child {
                        padding-right: 0;
                        margin-right: 0;
                    
                        &:after {
                            content: '';
                        }
                    }
                }
            }
        
            .qodef-post-info-bottom {
                @include qodefRelativeHolderLayout();
                margin: 62px 0 0;
            
                .qodef-post-info-bottom-left,
                .qodef-post-info-bottom-right {
                    position: relative;
                    display: inline-block;
                    width: 50%;
                }

                .qodef-post-info-bottom-left {
                    float: left;
                }

                .qodef-post-info-bottom-right {
                  float: right;
                    .qodef-social-share-holder.qodef-list li {
                        margin-right: 9px;
                        a{
                            font-size:18px;
                        }
                    }
                }
                .qodef-tags {
                    .qodef-tag-text {
                        font-family:  Montserrat, sans-serif;
                        font-size: 12px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #000000;
                    }
                    a {
                        color: $first-main-color;
                        text-decoration: underline;
                    }
                }

            
                .qodef-post-info-bottom-left {
                
                    > div {
                        position: relative;
                        display: inline-block;
                        padding-right: 8px;
                        margin-right: 3px;
                        color: $default-text-color;
                    
                        a {
                            &:hover {
                                color: $default-heading-color;
                            }
                        }
                    
                        &:after {
                            content: "/";
                            position: absolute;
                            top: 0;
                            right: -2px;
                        }
                    
                        &:last-child {
                            padding-right: 0;
                            margin-right: 0;
                        
                            &:after {
                                content: '';
                            }
                        }
                    }
                }
            
                .qodef-post-info-bottom-right {
                    text-align: right;
                
                    > div {
                        margin-left: 17px;
                    
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        
            &.format-link {

                .qodef-post-text{
                    padding: 50px 53px;
                    background-color: #f6f6f6;
                    overflow: hidden;
                    border: 0;
                    margin-bottom: 18px;
                }

                .qodef-post-text-main {
                    @include qodefTableLayout();
                    text-align: left;
                }

                .qodef-post-mark {
                    position: absolute;
                    top: -69px;
                    left: -71px;
                    @include qodefTransform(rotate(90deg));

                    .qodef-link-mark {
                        padding-top: 5px;
                        font-size: 86px;
                        color: #eeeeee;
                    }
                }

                .qodef-post-link-holder {
                    @include qodefTableCellLayout();
                    vertical-align: top;
                    text-align: left;
                }

                .qodef-post-title {
                    margin-bottom: 0;
                }

                .qodef-post-additional-content {
                    padding: 0 0 31px;
                    border-bottom: 1px solid $default-border-color;
                }
            }
        
            &.format-quote {

                .qodef-post-text {
                    padding: 45px 53px;
                    background-color: #f6f6f6;
                    overflow: hidden;
                    border: 0;
                    margin-bottom: 18px;
                }

                .qodef-post-text-main {
                    @include qodefTableLayout();
                    text-align: left;
                }

                .qodef-post-mark {
                    position: absolute;
                    top: -99px;
                    left: -95px;
                    .qodef-quote-mark {
                        padding-top: 5px;
                        font-size: 176px;
                        color: #eeeeee;
                    }
                }
                .qodef-post-quote-holder {
                    position: relative;
                    .qodef-quote-author {
                        font-family: Montserrat, sans-serif;
                        font-size: 11px;
                        text-transform: uppercase;
                        font-weight: 700;
                        color:#000000;
                    }
                }

                .qodef-post-link-holder {
                    @include qodefTableCellLayout();
                    vertical-align: top;
                    text-align: left;
                }

                .qodef-post-title {
                    margin-bottom: 13px;
                }

                .qodef-post-author {
                    display: inline-block;
                    margin-bottom: 23px;
                    font-size: 13px;
                    line-height: 20px;
                }

                .qodef-post-additional-content {
                    padding: 0 0 31px;
                    border-bottom: 1px solid $default-border-color;
                }
            }
        }
    }
}
/* ==========================================================================
   Blog Single Standard style - end
   ========================================================================== */