@import "blocks/logo";
@import "blocks/widgets";
@import "blocks/navigation/navigation";

.qodef-header-vertical {

    .qodef-content,
    footer {
        padding-left: $vertical-menu-width;
        box-sizing: border-box;
    }

    .qodef-vertical-menu-area {
        position: fixed;
        width: $vertical-menu-width;
        top: 0;
        left: 0;
        height: 100%;
        padding: 60px 45px 10px;
        background-color: transparent;
        outline: none;
        z-index: 101;
        -webkit-backface-visibility: hidden;
        box-sizing: border-box;
    }

    .qodef-vertical-menu-area-inner {
        @include qodefRelativeHolderLayout();
        height: 100%;

        &.qodef-vertical-align-left {
            text-align: left;
        }

        &.qodef-vertical-align-center {
            text-align: center;

            .qodef-logo-wrapper img {
                margin: 0 auto;
            }
        }
    }

    .qodef-vertical-menu-area.qodef-with-scroll {
        overflow: hidden;
    }

    .qodef-vertical-area-background {
        position: fixed;
        top: 0;
        left: 0;
        width: $vertical-menu-width;
        height: 100%;
        background-color: #fff;
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        opacity: 1;
        @include qodefTransition(opacity 0.5s ease, background-color 0.5s ease);
    }
}