/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - begin
   ========================================================================== */

@media only screen and (min-width: $ipad-landscape-plus-pixel) and (max-width: $laptop-landscape) {
    
    .qodef-woo-single-page {
        
        .woocommerce-tabs {
            
            ul.tabs {
                
                > li {
                    
                    a {
                        padding: 12px 7px;
                    }
                }
            }
        }
    }
}

@include ipad-landscape {
    
    .qodef-woo-single-page {
        
        .qodef-single-product-content {
            
            .images,
            .qodef-single-product-summary {
                float: none;
                width: 100%;
                padding: 0;
            }
            
            .qodef-single-product-summary {
                margin: 30px 0 0;
            }
        }
        
        .woocommerce-tabs {
            
            ul.tabs {
                
                > li {
                    
                    a {
                        padding: 13px 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    
    .qodef-woo-single-page {
        
        &.qodef-woo-single-thumb-on-left-side {
            
            .qodef-single-product-content {
                
                .images {
                    
                    a {
                        
                        &.woocommerce-main-image {
                            width: 100%;
                            margin: 0;
                        }
                    }
                    
                    .thumbnails {
                        margin: 0 -7px;
                        
                        a {
                            margin: 14px 0 0;
                            padding: 0 5px;
                            
                            &:first-child {
                                padding: 0 7px;
                            }
                        }
                        
                        &.columns-4 {
                            position: inherit;
                            top: auto;
                            left: auto;
                            display: inherit;
                            vertical-align: top;
                            width: auto;
                            height: auto;
                            
                            a {
                                float: left;
                                width: 25%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    
    .qodef-woo-single-page {
        
        .qodef-single-product-content {
            
            .images {
                
                .thumbnails {
                    
                    &.columns-2 {
                        
                        a {
                            float: none;
                            width: 100%;
                        }
                    }
                    
                    &.columns-4 {
                        
                        a {
                            width: 50%;
                        }
                    }
                }
            }
        }
        
        &.qodef-woo-single-thumb-on-left-side {
            
            .qodef-single-product-content {
                
                .images {
                    
                    .thumbnails {
                        
                        &.columns-4 {
                            
                            a {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include phone-portrait {
    .qodef-woo-single-page {

        .woocommerce-tabs {

            ul.tabs {

                > li {

                    a {
                        padding: 8px 4px;
                        font-size: 9px;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - end
   ========================================================================== */