.qodef-archive-wrapper {
    ul {
      list-style-type: none;
      li {
        margin-bottom: 10px;
         span {
           font-family: Montserrat, sans-serif;
           font-weight: 700;
           font-size: 12px;
           text-transform: uppercase;
         }
      }
    }
}