/* ==========================================================================
   Portfolio Single - Small Images layout style - begin
   ========================================================================== */

.qodef-portfolio-single-holder {
    
    &.qodef-ps-small-images-layout {
    
        .qodef-ps-image-holder {
        
            .qodef-ps-image {
                margin: 0 0 30px;
            
                &:last-child {
                    margin: 0;
                }
            }
        }
    
        .qodef-ps-content-item {
            margin: 0 0 30px;
        }

        @include ipad-portrait {

            .qodef-ps-info-holder {
                margin: 35px 0 0 !important; // can be set inline in option
            }
        }
    }
}
/* ==========================================================================
   Portfolio Single - Small Images layout style - end
   ========================================================================== */