/* ==========================================================================
   Portfolio Item Layout - Standard Shader style - begin
   ========================================================================== */

.qodef-portfolio-list-holder {
	
	&.qodef-pl-standard-shader {
		
		article {
			
			.qodef-pli-image {
				
				&:after {
					@include qodefAbsoluteHolderLayout();
					content: '';
					z-index: 1;
					background-color: rgba(0,0,0,0.4);
					opacity: 0;
					@include qodefTransition(opacity .2s ease-in-out);
				}
				
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -19px 0 0 -19px;
					content: '\4c';
					font-family: 'ElegantIcons';
					speak: none;
					color: #fff;
					font-size: 38px;
					line-height: 1;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					-webkit-font-smoothing: antialiased;
					z-index: 2;
					opacity: 0;
					@include qodefTransition(opacity .2s ease-in-out);
				}
			}
			
			.qodef-pli-link {
				z-index: 2;
			}
			
			&:hover {
				
				.qodef-pli-image {
					
					&:after,
					&:before {
						opacity: 1;
					}
				}
			}
		}
		
		.qodef-pli-text-holder {
			@include qodefRelativeHolderLayout();
			margin: 17px 0 0;
		}
	}
}
/* ==========================================================================
   Portfolio Item Layout - Standard Shader style - end
   ========================================================================== */