.qodef-header-vertical {

    .qodef-vertical-area-widget-holder {
        position: absolute;
        bottom: 35px;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        margin: 10px 0 0;
        z-index: 100;
    }
}